@import url(style/blocks/lapik-header.css);
@import url(style/blocks/lapik-hamburger.css);
@import url(style/blocks/lapik-hero.css);
@import url(style/blocks/lapik-products.css);
@import url(style/blocks/lapik-areas.css);
@import url(style/blocks/lapik-areas-separate.css);
@import url(style/blocks/lapik-geography.css);
@import url(style/blocks/lapik-details.css);
@import url(style/blocks/lapik-about.css);
@import url(style/blocks/lapik-history.css);
@import url(style/blocks/lapik-jobs.css);
@import url(style/blocks/lapik-techs.css);
@import url(style/blocks/lapik-media-gallery.css);
@import url(style/blocks/lapik-contacts.css);
@import url(style/blocks/triple-grid-section.css);
@import url(style/blocks/lapik-footer.css);
@import url(style/blocks/lapik-modal-window.css);
@import url(style/blocks/lapik-modal-form.css);
@import url(style/blocks/lapik-grid-section.css);
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import 'bootstrap/scss/grid';

@import url(style/media.css);

:root {
  --accent-color: #a16136;
  --top-padding: 80px;
  --bottom-padding: 80px;
}

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  position: relative;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-margin-top: 120px;
}  

body {
  background-color: #EEEEEE;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

* {
  font-family: "Exo 2", sans-serif;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

.lapik-title {
  color: #222222;
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  line-height: 64px;
  margin-bottom: 40px;
}

.lapik-text {
  color: #444444;
  font-size: 16px;
  line-height: 32px;
}

.container {
  position: relative !important;
}