@media (max-width: 767px) {
  .lapik-title {
    font-size: 32px !important;
    line-height: 48px !important;
    margin-bottom: 30px !important;
  }
  .lapik-text {
    font-size: 14px !important;
    line-height: 28px !important;
  }
}

@media (max-width: 575px) {
  .lapik-title {
    font-size: 28px !important;
    line-height: 36px !important;
    margin-bottom: 30px !important;
  }
  .lapik-text {
    font-size: 14px !important;
  }

  .lapik-hero {
    padding-top: 130px;
    padding-bottom: 80px;
  }
  .lapik-hero__title {
    font-size: 32px;
    margin-bottom: 48px;
  }
  .lapik-about__title {
    font-size: 32px;
  }
  .lapik-hero__subtitle {
    font-size: 16px;
    margin-bottom: 48px;
  }
  .lapik-hero__button {
    padding: 12px 0;
    margin: 0;
    font-size: 14px;
  }

  .lapik-products {
    padding: 80px 0;
  }
  .lapik-products__grid-card {
    padding: 16px;
    font-size: 16px;
  }
  
  .lapik-geography__map {
    position: static;
    transform: translateY(0);
    margin-top: 32px;
  }
  .lapik-geography__methods-title {
    margin-top: 32px;
  }

  .lapik-history:not(.lapik-history_hidden) {
    padding: 60px 30px;
  }
  .lapik-jobs__job-text {
    font-size: 14px;
  }

  .lapik-footer__links-wrapper {
    flex-direction: column;
    gap: 10px;
  }
  .lapik-footer__links-wrapper a {
    font-size: 14px;
  }
  .lapik-footer__credits > span {
    font-size: 14px;
  }
  .lapik-footer__credits a {
    font-size: 14px;
  }
  .lapik-footer__dev-logo span {
    font-size: 14px;
  }
  .lapik-modal-window__main-title {
    font-size: 16px;
    margin-bottom: 16px;
  }
  .lapik-modal-window__title {
    font-size: 12px;
    margin-bottom: 8px;
  }

  .triple-grid-section__card {
    aspect-ratio: 7/6;
    padding: 10px;
  }
}

@media (max-width: 442px) {
  .lapik-grid-section__grid-card {
    padding: 20px;
    font-size: 16px;
  }
  .lapik-grid-section__grid-card img {
    width: 28px;
    margin-bottom: 4px;
  }
  .lapik-areas__grid-card-button {
    margin-top: 12px;
    padding: 8px 16px;
  }
}