@media (max-width: 1699px) {
  .lapik-areas__grid-card-title {
    font-size: 24px;
  }
  .lapik-areas__grid-card {
    padding: 24px;
    font-size: 18px;
    line-height: 48px;
  }
  .lapik-areas__grid-card span {
    margin-top: 10px;
  }
}

@media (max-width: 1399px) {
  .lapik-header__links {
    gap: 36px;
  }
  .lapik-header__link {
    font-size: 16px;
  }
  .lapik-header__phone > a {
    font-size: 16px;
  }

  .lapik-products__left-wrapper {
    width: 45%;
  }

  .lapik-areas__grid-card-title {
    font-size: 24px;
  }
  .lapik-areas__grid-card {
    padding: 20px;
    font-size: 15px;
    line-height: 32px;
  }
  .lapik-areas__grid-card span {
    margin-top: 10px;
  }

  .lapik-footer__slogan {
    font-size: 16px;
  }
  .lapik-footer__contacts-title {
    font-size: 20px;
  }
  .lapik-footer__contacts-wrapper > span {
    font-size: 16px;
  }
  .lapik-footer__link {
    font-size: 16px;
    line-height: 48px;
  }
  .lapik-footer__form input, textarea {
    font-size: 16px;
  }
  .lapik-footer__credits > span {
    font-size: 16px;
  }
  .lapik-footer__credits a {
    font-size: 16px;
  }
  .lapik-footer__dev-logo span {
    font-size: 16px;
  }
  .lapik-footer__form button {
    width: 100%;
  }
}

@media (max-width: 1199px) {
  .lapik-header__logo-link > span, .lapik-header__logo-link_painted > span {
    font-size: 24px;
  }
  .lapik-header__links {
    gap: 24px;
  }
  .lapik-header__link {
    font-size: 14px;
  }
  .lapik-header__phone > a {
    font-size: 14px;
  }

  .lapik-hero {
    padding-bottom: 200px;
  }
  .lapik-hero__title {
    font-size: 56px;
  }
  .lapik-hero__subtitle {
    font-size: 22px;
    margin-bottom: 80px;
  }
  .lapik-hero__button {
    font-size: 16px;
  }

  .lapik-products {
    padding: 120px 0;
  }
  .lapik-products__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .lapik-areas__grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .lapik-areas__grid-card {
    font-size: 16px;
    line-height: 24px;
    padding: 24px;
  }
  .lapik-areas__grid-card img {
    margin-bottom: 10px;
    width: 36px;
  }
  .lapik-areas__grid-card-title {
    font-size: 20px;
  }

  .lapik-footer {
    padding: 72px 0 43px;
    background-color: #222222;
  }
  .lapik-footer__logo {
    margin-bottom: 32px;
  }
  .lapik-footer__slogan {
    margin-bottom: 32px;
  }
  .lapik-footer__contacts-title {
    line-height: 32px;
  }
  .lapik-footer__form {
    margin-top: 32px !important;
  }
  .lapik-footer__credits {
    margin-top: 72px !important;
  }
}

@media (max-width: 991px) {
  .lapik-header__menu {
    display: none;
  }
  .lapik-header__hamburger-btn {
    display: flex;
    justify-content: end;
  }
  .lapik-header__phone {
    display: flex;
    justify-content: end;
    align-items: center;
    aspect-ratio: 1/1;
    height: 40px;
    width: 40px;
  }
  .lapik-header__phone svg {
    height: 100%;
    width: 32px;
    padding: 14px;
    border: 1px solid rgba(255, 255, 255, 0.6);
  }
  .lapik-header__phone span {
    display: none;
  }
  .lapik-header__painted .lapik-header__hamburger-icn {
    border: none;
  }
  .lapik-header__painted .lapik-header__hamburger-icn svg > path {
    fill: #E12126;
  }

  .lapik-hero {
    padding-bottom: 200px;
  }
  .lapik-hero__buttons-wrapper {
    justify-content: space-between;
    gap: 0;
  }
  .lapik-hero__button {
    padding: 17px 20px;
    width: 168px;
    font-size: 16px;
  }
  .lapik-hero__subtitle {
    margin-bottom: 60px;
  }

  .lapik-products__wrapper {
    flex-direction: column;
    gap: 60px;
  }
  .lapik-products__left-wrapper {
    width: 100%;
  }
  .lapik-products__grid {
    width: 100%;
  }

  .lapik-geography__methods-title {
    margin-top: 120px;
  }
  .lapik-geography__methods-wrapper {
    margin-top: 10px;
  }
  .lapik-geography__map {
    top: 70%;
    transform: translateY(-70%);
  }

  .lapik-techs__wrapper {
    flex-direction: column-reverse;
    gap: 30px;
    align-items: center;
  }
  .lapik-techs__text-wrapper {
    width: 100%;
  }
  .lapik-techs__image {
    width: 80%;
  }

  .lapik-footer__credits {
    margin-top: 64px !important;
  }
  .lapik-footer__dev-logo-wrapper {
    justify-content: start;
    margin-top: 16px !important;
  }
  .lapik-footer__privacy-wrapper {
    justify-content: end;
  }
}

@media (max-width: 767px) {
  .lapik-title {
    font-size: 32px !important;
    line-height: 48px !important;
    margin-bottom: 30px !important;
  }

  .lapik-hero {
    padding-top: 200px;
    padding-bottom: 120px;
  }
  .lapik-hero__title {
    font-size: 48px;
    margin-bottom: 48px;
  }
  .lapik-hero__subtitle {
    font-size: 18px;
  }
  .lapik-hero__buttons-wrapper {
    flex-direction: column;
    align-items: start;
    gap: 10px;
  }
  .lapik-hero__button {
    width: 250px;
  }

  .lapik-products {
    padding: 120px 0;
  }
  .lapik-products__button {
    margin-top: 50px;
  }
  .lapik-products__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
  }

  .lapik-geography__methods-title {
    font-size: 18px;
    line-height: 32px;
  }
  .lapik-geography__method > img {
    width: 36px;
    height: auto;
  }
  .lapik-geography__method > span {
    font-size: 12px;
    line-height: 24px;
    color: #444444;
    display: inline-block;
  }
  .lapik-geography__map {

  }
}

@media (max-width: 575px) {
  .lapik-hamburger {
    width: 100vw;
  }
  .lapik-hamburger__link {
    padding: 24px 48px;
  }

  .lapik-hero {
    padding-top: 150px;
    padding-bottom: 80px;
  }
  .lapik-hero__title {
    font-size: 32px;
    margin-bottom: 32px;
  }
  .lapik-hero__subtitle {
    font-size: 14px;
    margin-bottom: 32px;
  }
  .lapik-hero__buttons-wrapper {
    flex-direction: column;
    align-items: start;
    gap: 10px;
  }
  .lapik-hero__button {
    width: 100%;
    padding: 12px 0;
    margin: 0;
    font-size: 14px;
  }
}