.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 0;
  z-index: 10;
}

.header__wrapper {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header__logo-link {
  display: flex;
  align-items: center;
}

.header__logo-link > span {
  font-size: 32px;
  color: #fff;
  font-weight: 500;
  margin-left: 10px;
}

.header__links {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 45px;
}

.header__link {
  color: #fff;
  font-size: 18px;
}

.header__phone > a {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.header__phone > a > span {
  margin-left: 10px;
}