.lapik-modal-form {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  z-index: 10000;
  transition: opacity 0.3s;
}

.lapik-modal-form_hidden {
  opacity: 0;
  pointer-events: none;
}

.lapik-modal-form_hidden .lapik-modal-form__wrapper {
  transform: translateY(-100%);
}

.lapik-modal-form__title {
  color: #222222;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
}

.lapik-modal-form__wrapper {
  display: block;
  position: relative;
  background-color: #EEEEEE;
  padding: 80px 80px;
  width: 600px;
  max-width: 80%;
  margin: 20px auto 0;
  transform: translateY(0);
  transition: transform 0.3s ease;
}

.lapik-modal-form__form {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.lapik-modal-form__form input, .lapik-modal-form__form textarea {
  width: 100%;
  font-size: 18px;
  padding: 18px 20px;
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  color: #444444;
}

.lapik-modal-form__form textarea {
  resize: none;
}

.lapik-modal-form__form button {
  margin-top: 20px;
  padding: 18px;
  font-size: 18px;
  line-height: 22px;
  border: none;
  color: #FFFFFF;
  background-color: var(--accent-color);
}

.lapik-modal-form__close-btn {
  position: absolute;
  top: 40px;
  right: 40px;
  cursor: pointer;
}

.lapik-modal-form__close-btn path {
  transition: fill 0.1s ease;
}

.lapik-modal-form__close-btn:hover path {
  fill: #222222;
}

@media (max-width: 991px) {
  .lapik-modal-form__wrapper {
    padding: 60px;
  }
}

@media (max-width: 767px) {
  .lapik-modal-form__wrapper {
    padding: 30px;
  }
  .lapik-modal-form__title {
    font-size: 20px;
    line-height: 28px;
  }
  .lapik-modal-form__form input, .lapik-modal-form__form textarea {
    font-size: 15px;
    padding: 16px 18px;
  }
  .lapik-modal-form__form {
    gap: 12px;
  }
  .lapik-modal-form__form button {
    margin-top: 12px;
    font-size: 15px;
    padding: 16px 18px;
  }
  .lapik-modal-form__close-btn {
    top: 30px;
    right: 30px;
  }
}