.lapik-hero {
  position: relative;
  /* background: url(/img/hero-banner.jpg) center center / cover no-repeat; */
  position: relative;
  padding: 247px 0;
  background-color: rgba(0,0,0,0.4);
  overflow: hidden;
}

.lapik-hero::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.lapik-hero__dimmer {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 0;
}

.lapik-hero__title {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 64px;
  margin-bottom: 64px;
  z-index: 1;
}

.lapik-hero__subtitle {
  display: block;
  font-family: "PT Sans", sans-serif;
  color: #fff;
  font-size: 24px;
  margin-bottom: 120px;
  z-index: 1;
}

.lapik-hero__buttons-wrapper {
  display: flex;
  align-items: center;
  gap: 60px;
  z-index: 1;
}

.lapik-hero__button {
  display: inline-block;
  text-align: center;
  font-family: "PT Sans", sans-serif;
  color: rgba(255, 255, 255, 0.6);
  font-size: 18px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  padding: 17px 34px;
  transition: color 0.1s ease, background-color 0.1s ease;
}

.lapik-hero__button:hover {
  background-color: var(--accent-color);
  color: #fff;
}

.swiper-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.lapik-hero__content {
  position: relative;
  z-index: 1;
}

.swiper-pagination {
  justify-content: end;
  left: auto !important;
  right: 30px;
  display: flex;
}

.swiper-pagination-bullet {
  width: 16px !important;  /* Adjust the size */
  height: 16px !important;  /* Adjust the size */
  background-color: #fff !important;  /* Adjust the color */
  opacity: 0.7 !important;
  transition: opacity 0.3s ease;
}

.swiper-pagination-bullet-active {
  width: 16px;  /* Adjust the size */
  height: 16px;  /* Adjust the size */
  background-color: var(--accent-color) !important;  /* Adjust the color */
  opacity: 1;
}