.lapik-grid-section {
  scroll-margin-top: var(--header-height);
}

.lapik-grid-section__grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0;
  background: var(--accent-color);
  position: relative;
  /* transition: 0.2s background ease; */
  /* background: url(/img/details-banner.jpg) center center / cover no-repeat; */
}

.lapik-grid-section__grid_hovered .lapik-grid-section__grid-card-img {
  opacity: 0;
}

.lapik-grid-section__grid_hovered::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 0;
  pointer-events: none;
}

.lapik-grid-section__grid-card {
  aspect-ratio: 16/10;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: end;
  align-items: start;
  padding: 30px;
  font-size: 22px;
  line-height: 42px;
  font-weight: 500;
  border: 0.5px solid #fff;
  background-color: transparent;
  color: #fff;
  overflow: hidden;
  z-index: 1;
  /* transition: 0.1s; */
}

.lapik-grid-section__grid-card-img::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.lapik-grid-section__grid-card img {
  margin-bottom: 12px;
  width: 48px;
  height: auto;
  z-index: 2;
  pointer-events: none;
}

.lapik-grid-section__grid-card span {
  z-index: 2;
}

.lapik-grid-section__grid-card-title {
  font-size: 28px;
}

.lapik-grid-section__grid-card-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 1;
}

.lapik-grid-section__grid-card-sizes {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
  pointer-events: none;
}

.lapik-grid-section__card-button {
  font-size: 18px;
  line-height: 0;
  border: 0.5px #fff solid;
  cursor: pointer;
  z-index: 3;
  margin-top: 0;
  max-height: 0px;
  opacity: 0;
  color: var(--accent-color);
  transition: max-height 0.2s, margin-top 0.2s, color 0.2s;
}

@media (hover: hover) {
  .lapik-grid-section__grid-card:hover .lapik-grid-section__card-button {
    line-height: 28px;
    max-height: 52px;
    margin-top: 15px;
    padding: 12px 30px;
    color: #fff;
    opacity: 1;
  }

  .lapik-grid-section__grid-card:hover > .lapik-grid-section__grid-card-img {
    opacity: 0;
  }
  
  .lapik-grid-section__grid-card:hover {
    background-color: var(--accent-color);
  }
}

@media (hover: none) {
  .lapik-grid-section__card-button {
    line-height: 28px;
    max-height: 52px;
    margin-top: 15px;
    padding: 12px 30px;
    color: #fff;
    opacity: 1;
  }
}

@media (max-width: 1859px) {
  .lapik-grid-section__grid-card {
    font-size: 20px;
    line-height: 32px;
  }
  .lapik-grid-section__grid-card img {
    width: 40px;
  }
}

@media (max-width: 1599px) {
  .lapik-grid-section__grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1199px) {
  .lapik-grid-section__grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .lapik-grid-section__grid-card {
    font-size: 18px;
    line-height: 28px;
  }
}

@media (max-width: 767px) {
  .lapik-grid-section__grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .lapik-grid-section__grid-card img {
    width: 36px;
    margin-bottom: 12px;
  }

  .lapik-grid-section__grid .lapik-grid-section__grid-card:first-child {
    aspect-ratio: auto;
    height: auto;
  }
}

@media (max-width: 442px) {
  .lapik-grid-section__grid-card {
    padding: 20px;
    font-size: 16px;
  }
  .lapik-grid-section__grid-card img {
    width: 28px;
    margin-bottom: 4px;
  }
}