.lapik-products {
  scroll-margin-top: var(--header-height);
  padding-top: var(--top-padding);
  padding-bottom: var(--bottom-padding);
}

.lapik-products__title {
  font-size: 48px;
  line-height: 64px;
  margin-bottom: 40px;
}

.lapik-products__text {
  color: #444444;
  font-size: 16px;
  line-height: 32px;
  margin-bottom: 75px;
}

.lapik-products__button {
  margin-top: 75px;
  display: inline-block;
  color: #fff;
  padding: 18px 23px;
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
  /* transition: background-color 0.1s ease, color 0.1s ease; */
}

.lapik-products__grid {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0;
}

.lapik-products__left-wrapper {
  width: 40%;
}

.lapik-products__grid-card {
  font-family: 'Montserrat', sans-serif;
  aspect-ratio: 1/1;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 30px;
  font-size: 18px;
  line-height: 24px;
  border: 0.5px solid #fff;
  color: #fff;
  overflow: hidden;
  /* transition: background-color 0.1s; */
}

.lapik-products__grid-card-img::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.lapik-products__grid-card > span {
  z-index: 2;
  text-align: center;
}

.lapik-products__grid-card-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 1;
  /* transition: 0.1s opacity; */
}

.lapik-products__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lapik-products__advantages {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 32px;
  color: #444444;
  line-height: 32px;
}

.lapik-products__advantages li {
  position: relative;
  padding-left: 33px;
  margin-bottom: 32px;
}

.lapik-products__advantages li:last-child {
  margin-bottom: 0;
}

.lapik-products__advantages-title {
  margin-top: 32px;
  color: #222222;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
}

.lapik-products__advantages li::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: var(--accent-color);
  top: 12px;
  left: 3px;
}

@media (hover: hover) {
  .lapik-products__grid-card:hover > .lapik-products__grid-card-img {
    opacity: 0;
  }

  .lapik-products__grid-card:hover {
    background-color: var(--accent-color);
  }

  .lapik-products__button:hover {
    background-color: transparent;
    color: #222;
  }
}

@media (hover: none) {
  .lapik-products__grid-card:active > .lapik-products__grid-card-img {
    opacity: 0;
  }

  .lapik-products__grid-card:active {
    background-color: var(--accent-color);
  }

  .lapik-products__button:active {
    background-color: transparent;
    color: #222;
  }
}

@media (max-width: 1399px) {
  .lapik-products__left-wrapper {
    width: 45%;
  }
}

@media (max-width: 1199px) {
  .lapik-products__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 991px) {
  .lapik-products__wrapper {
    flex-direction: column;
    gap: 60px;
  }
  .lapik-products__left-wrapper {
    width: 100%;
  }
  .lapik-products__grid {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .lapik-products__button {
    margin-top: 50px;
  }
  .lapik-products__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
  }  
  .lapik-products__advantages li {
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 24px;
  }
  .lapik-products__advantages-title {
    font-size: 18px;
    line-height: 26px;
  }
}

@media (max-width: 575px) {
  .lapik-products__grid-card {
    padding: 16px;
    font-size: 16px;
  }
}