.lapik-history {
  padding-top: var(--top-padding);
  /* padding-bottom: var(--bottom-padding); */
  height: 100%;
  overflow: hidden;
  transition: padding 0.3s;
  scroll-margin-top: var(--top-padding);

}

.lapik-history_hidden {
  height: 0;
  padding: 0 !important;
}

.lapik-history__dates {
  list-style-type: none;
}

.lapik-history__year {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  padding-left: 33px;
}

.lapik-history__year::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: var(--accent-color);
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.lapik-history__description {
  font-size: 16px;
  line-height: 32px;
  padding: 20px 0 60px 27.5px;
  margin-left: 4.5px;
  border-left: 1px solid #AAAAAA;
}

.lapik-history__dates li:last-child .lapik-history__description {
  border-left: none;
}

.history__swiper-container {
  overflow: hidden;
  display: none;
}

.history__swiper-pagination {
  margin-top: var(--pagination-margin-top);
  justify-content: center;
  left: auto !important;
  right: 30px;
  display: none;
}

.lapik-history .swiper-pagination-bullet {
  width: var(--dot-size) !important;
  height: var(--dot-size) !important;
  background-color: #000 !important;
  opacity: 0.2 !important;
  /* transition: opacity 0.3s ease; */
}

.lapik-history .swiper-pagination-bullet-active {
  background-color: var(--accent-color) !important;
  opacity: 1 !important;
}


@media (max-width: 1199px) {
  .lapik-history__year {
    font-size: 20px;
  }
  .lapik-history__description {
    line-height: 28px;
    padding: 10px 0 30px 27.5px;
  }
}

@media (max-width: 767px) {
  /* .lapik-history {
    padding-bottom: calc(var(--bottom-padding) - var(--dot-size) - var(--pagination-margin-top));
  } */
  .lapik-history__dates {
    display: none;
  }
  .history__swiper-container {
    display: flex;
  }
  .history__swiper-pagination {
    display: flex;
  }
  .lapik-history__date {
    width: 100%;
    padding: 40px 20px;
    background-color: #fff;
  }
  .lapik-history__description {
    padding: 0;
    padding-left: 27.5px;
  }
}