.lapik-geography {
  scroll-margin-top: 120px;
  position: relative;
  padding: 80px 0;
}

.lapik-geography .lapik-text {
  z-index: 5;
}

.lapik-geography__left {
  position: relative;
  z-index: 1;
}

.lapik-geography__methods-title {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  line-height: 64px;
  font-weight: 500;
  margin-top: 336px;
  color: #444444;
}

.lapik-geography__methods-wrapper {
  display: flex;
  align-items: end;
  margin-top: 40px;
}

.lapik-geography__method {
  display: flex;
  justify-content: end;
  flex-direction: column;
  z-index: 4;
}

.lapik-geography__method > img {
  width: 48px;
  height: auto;
}

.lapik-geography__method > span {
  font-family: "Exo 2", sans-serif;
  font-size: 15px;
  line-height: 32px;
  color: #444444;
  display: inline-block;
}

.lapik-geography__map {
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  right: 0;
  z-index: 1;
}

.lapik-geography__map svg {
  width: 100%;
}

.lapik-geography__map-label {
  position: absolute;
  z-index: 10;
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.map-city-mark {
  position: relative;
  z-index: 3;
}

.map-city-mark::before {
  content: '123';
  position: absolute;
  left: 0;
  right: 0;
  font-size: 16px;
  z-index: 6;
}

@media (max-width: 1399px) {
  .lapik-geography__map {
    width: 92%;
  }
  .lapik-geography__methods-title {
    margin-top: 300px;
  }
  .lapik-geography__methods-wrapper {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .lapik-geography__map {
    width: 100%;
    position: static;
    transform: translateY(0);
    margin-top: 32px;
  }
  .lapik-geography__map svg {
    height: 100%;
  }
  .lapik-geography__methods-title {
    margin-top: 180px;
  }
  .lapik-geography__methods-wrapper {
    margin-top: 10px;
  }
  .lapik-geography__methods-title {
    margin-top: 0;
  }
  .lapik-geography__map-label {
    font-size: 12px;
  }
}

@media (max-width: 767px) {
  .lapik-geography__methods-title {
    font-size: 18px;
    line-height: 32px;
  }
  .lapik-geography__method > img {
    width: 36px;
    height: auto;
  }
  .lapik-geography__method > span {
    font-size: 12px;
    line-height: 24px;
    color: #444444;
    display: inline-block;
  }
}

@media (max-width: 575px) {
  .lapik-geography__methods-title {
    margin-top: 32px;
  }
}