.lapik-modal-window {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  z-index: 10000;
}

.lapik-modal-window__wrapper {
  position: absolute;
  display: block;
  background-color: #EEEEEE;
  width: calc(66.66666667% - var(--bs-gutter-x));
  top: 50vh;
  transform: translateY(-50%);
  padding: 80px 100px;
}

.lapik-modal-window_hidden {
  display: none;
}

.lapik-modal-window__main-title {
  font-family: "Montserrat", sans-serif;
  color: #222222;
  font-size: 32px;
  line-height: 150%;
  font-weight: 700;
  margin-bottom: 40px;
}

.lapik-modal-window__title {
  font-family: "Montserrat", sans-serif;
  color: #222222;
  font-size: 22px;
  line-height: 150%;
  font-weight: 500;
  margin-bottom: 20px;
}

.lapik-modal-window__selectors-wrapper {
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.lapik-modal-window__form {
  display: flex;
  flex-direction: column;
}

.lapik-modal-window__form-group {
  display: flex;
  gap: 30px;
}

.lapik-modal-window__input,
.lapik-modal-window__textarea,
.lapik-modal-window__select {
  flex: 1 1;
  padding: 17px 19px;
  font-size: 18px;
  line-height: auto;
  margin-bottom: 20px;
  border: 1px solid #CCCCCC;
  color: #888888;
  border-radius: 0;
}

.lapik-modal-window__textarea {
  background-color: #fff;
  flex: 1 1 100%;
  height: 100px;
}

.lapik-modal-window__submit-wrapper {
  display: flex;
  gap: 30px;
  margin-top: 20px;
}

.lapik-modal-window__submit-button {
  min-width: 230px;
  background-color: var(--accent-color);
  color: #FFFFFF;
  font-size: 18px;
  border: 1px solid var(--accent-color);
  padding: 17px 19px;
  cursor: pointer;
  align-self: center;
}

.lapik-modal-window__disclaimer {
  font-size: 14px;
  color: #444444;
  text-align: left;
}

.lapik-modal-window__disclaimer a {
  color: #E53935;
  text-decoration: none;
}

.lapik-modal-window__close-btn {
  position: absolute;
  top: 40px;
  right: 40px;
  cursor: pointer;
}

.lapik-modal-window__close-btn path {
  transition: fill 0.1s ease;
}

.lapik-modal-window__close-btn:hover path {
  fill: #222222;
}

.lapik-modal-test {
  position: fixed;
  cursor: pointer;
  bottom: 0;
  right: 0;
  padding: 20px;
  background-color: var(--accent-color);
  border: 1px solid #222222;
  cursor: pointer;
  color: #fff;
  z-index: 100000000;
}

@media (max-width: 1199px) {
  .lapik-modal-window__wrapper {
    width: calc(100% - var(--bs-gutter-x));
  }
}

@media (max-width: 991px) {
  .lapik-modal-window__wrapper {
    padding: 60px;
  }
  .lapik-modal-window__main-title {
    font-size: 28px;
    margin-bottom: 28px;
  }
  .lapik-modal-window__title {
    font-size: 18px;
    margin-bottom: 18px;
  }
  .lapik-modal-window__form-group {
    gap: 20px;
  }
  .lapik-modal-window__input,
  .lapik-modal-window__textarea,
  .lapik-modal-window__select {
    padding: 14px 15px;
    font-size: 16px;
    margin-bottom: 16px;
  }
  .lapik-modal-window__submit-wrapper {
    margin-top: 16px;
  }
  .lapik-modal-window__submit-button {
    min-width: 180px;
    font-size: 16px;
  }
  .lapik-modal-window__close-btn {
    top: 24px;
    right: 24px;
  }
}

@media (max-width: 767px) {
  .lapik-modal-window .container {
    margin: 0;
    padding: 0;
  }
  .lapik-modal-window__wrapper {
    width: 100vw;
    padding: 30px;
    padding-top: 60px;
  }
  .lapik-modal-window__main-title {
    font-size: 24px;
    margin-bottom: 24px;
  }
  .lapik-modal-window__title {
    font-size: 16px;
    margin-bottom: 16px;
  }
  .lapik-modal-window__input,
  .lapik-modal-window__textarea,
  .lapik-modal-window__select {
    padding: 12px 13px;
    font-size: 10px;
    margin-bottom: 12px;
  }
  .lapik-modal-window__submit-wrapper {
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
  }
  .lapik-modal-window__submit-button {
    width: 100%;
    font-size: 12px;
    padding: 10px 0;
  }
  .lapik-modal-window__disclaimer {
    font-size: 10px;
  }
}