.lapik-history {
  padding-top: var(--top-padding);
  padding-bottom: var(--bottom-padding);
  height: 100%;
  overflow: hidden;
  transition: padding 0.3s;
}

.lapik-history_hidden {
  height: 0;
  padding: 0;
}

.lapik-history__dates {
  list-style-type: none;
}

.lapik-history__year {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  padding-left: 33px;
}

.lapik-history__year::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: var(--accent-color);
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.lapik-history__description {
  font-size: 16px;
  line-height: 32px;
  padding: 20px 0 60px 27.5px;
  margin-left: 4.5px;
  border-left: 1px solid #AAAAAA;
}

.lapik-history__dates li:last-child .lapik-history__description {
  border-left: none;
}

.history__swiper-container {
  overflow: hidden;
}

.history__swiper-pagination {
  margin-top: 32px;
  justify-content: center;
  left: auto !important;
  right: 30px;
  display: flex;
}

.lapik-history .swiper-pagination-bullet {
  width: 10px !important;  /* Adjust the size */
  height: 10px !important;  /* Adjust the size */
  background-color: #000 !important;  /* Adjust the color */
  opacity: 0.2 !important;
  /* transition: opacity 0.3s ease; */
}

.lapik-history .swiper-pagination-bullet-active {
  background-color: var(--accent-color) !important;  /* Adjust the color */
  opacity: 1 !important;
}


@media (max-width: 1199px) {
  .lapik-history__year {
    font-size: 20px;
  }
  .lapik-history__description {
    line-height: 28px;
    padding: 10px 0 30px 27.5px;
  }
}

@media (max-width: 767px) {
  .lapik-history__dates {
    display: none;
  }
  .lapik-history__date {
    width: 100%;
    padding: 40px 20px;
    background-color: #fff;
  }
  .lapik-history__year::before {
    /* display: none; */
  }
  .lapik-history__year {
    /* padding: 0; */
  }
  .lapik-history__description {
    padding: 0;
    padding-left: 27.5px;
    /* border-left: 0; */
  }
}

@media (max-width: 575px) {
  .history__swiper-pagination {
    margin-top: 16px;
  }
  .lapik-history .swiper-pagination-bullet {
    width: 8px !important;  /* Adjust the size */
    height: 8px !important;  /* Adjust the size */
  }
}