.news {
  padding-top: var(--top-padding);
  padding-bottom: var(--bottom-padding);
}

.news__news-card {
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: #fff;
  height: 250px;
  cursor: pointer;
}

.news__card-image {
  aspect-ratio: 1/1;
  height: 100%;
}

.news__text-wrapper {
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
}

.news__text-date {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 10px;
  color: #888888;
}

.news__text-title {
  font-size: 18px;
  line-height: 32px;
  color: #444444;
  margin-bottom: 20px;
  font-weight: 500;
}

.news__text-p {
  color: #444444;
  font-size: 16px;
  line-height: 24px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 10px;
}

.news__text-more-button {
  align-self: flex-end;
  color: var(--accent-color);
  line-height: 32px;
  font-size: 16px;
}

.news__news-card:hover .news__text-more-button {
  text-decoration: underline;
}